/* /* #box {
  width: 200px;
  height: 200px;
  background: red;
} */

/* body {
  margin: 0;
  background: #111;
  color: white;
} */
/* #box2 {
  width: 200px;
  height: 200px;
  background: blue;
} */

/* #box {
  width: "100%";
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 30px;
}
ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
}
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
} */
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: red;
}
#page1 {
  width: 100%;
  height: 100vh;
  background: blue;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page2 {
  width: 100%;
  height: 100vh;
  background: rgb(121, 121, 154);
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#page3 {
  width: 100%;
  height: 100vh;
  background: rgb(73, 73, 101);
  display: flex;
  align-items: center;
  justify-content: center;
}
#box {
  width: 300px;
  height: 300px;
  background: white;
}
